.section{
  width: 100%;
  height: 100%;
  background-color: #f0bc5e;
}
.container {
  width: 100%;
  margin: 0 auto;
  
}
.main-content{
  width: 100%;
  height: 100%;
  background-color: #d34c59;
}
.main_posts{
  width: 100%;
  height: 100%;
  background-color: #d34c59;
}
.main_container{
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px;
  padding-bottom: 0px;
}
.container2{
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px;
  padding-bottom: 0px;
}
.section-inner{
  display: flex;
  justify-content: space-between;
}

.sidenav {
  width: 17%;
  height: 100%;
  padding-right: 15px;

}
.left_menu {
	padding-top: 20px;
	padding-left: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #9bcfcc;
}
#pagenav {
    border-bottom: 2px solid #e6e6e8;

    width: 55px;
    display: block;

    margin: 5px 15px;

}
.getapp {
  color: #999;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 15px;
    text-indent: .1em;}

.header-menu {
  line-height: 80px;
  color: #fff;
  display: none;
}
.header-nav--close {
  display: none;
  line-height: 80px;
  color: #fff;
  position: absolute;
  right: 30px;
  padding: 5px;
}


.top_reads{
  height: 290px;
  width: 100%;
  background-color: #fff;
  display: flex;
}
.reads_in{
  padding: 37px 0;
}

.top_reads_title{
  font-size: 55px;
  height: 100%;
  align-self: flex-end;
}

.product_section{
  padding: 1em 0 4em;
}


.top_block{
     background: linear-gradient(rgba(44, 69, 179, 0.9) 0%, rgba(45, 45, 45, 0) 100%);
     margin: 0 auto;
     max-width: 1400px;
     opacity: 1;
     transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
     transform-origin: 50% 50% 0px;
     background: rgb(44, 69, 179, 0.9) url(https://livedemo00.template-help.com/wt_prod-20819/images/slide-1-1339x729.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

}

.wpb_wrapper{
  text-align: center;
  font-family:  'Montserrat', sans-serif;
}

@media (max-width: 1024px){

	.header-logo1 {
	position: fixed;
	width: 10%;
	right: -100%;
}
.header-menu {
  display: block;
} 
.sidenav {
  position: fixed;
  right: -100%;


}

}

.general {
  position: relative;
  height: 1000px;
}
.flexbox .item_content_actionscontainer {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.item_content_savecontainer {
    float: left;
    padding: 15px;
}
.recommend_footer .item_content_actionscontainer a {
    color: #fff;
    width: 20px;
}
.recommend_footer .item_content_actionscontainer a:hover{
  color: #9bcfcc;
}
.recommend_footer .item_save_icon {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    width: 20px;
    height: 20px;
}
.flexbox .item_content_save .item_content_savetext {
    bottom: 0;
    padding-left: .3em;
}
.item_content_hidecontainer {
    float: right;
    padding: 15px;
}
.recommend_footer .item_content_actionscontainer a {
    color: #fff;
}
.recommend_footer .item_content_actionscontainer a:hover {
    color: #9bcfcc;
}
.recommend_footer .item_content_overflow {
    padding: 10px 0 10px 10px;
}
.recommend_footer .item_overflow_icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    line-height: 16px;
}

/*modal*/
/* The Modal (background) */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 18%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  text-align: center;
  background-color: #fefefe;
  margin: 0 auto;
  width: 57%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.6s;
  animation-name: animatetop;
  animation-duration: 0.6s;
  
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close{
  color: #C4956A;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.expand_img{
 display: flex;
 justify-content: center;
}
.expand_img_svg {
  width: 21px;
  margin-left: 20px;
  margin-top:3px;
  fill: #C4956A;
 }
.expand_img_svg :hover{

  fill: #2D426D;
 }
 .target{
   display: flex;
   width: 100%;
   justify-content: center;
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.8s;
   animation-name: animatetop;
   animation-duration: 0.8s;
 }